*{
    font-family: cursive;
}

body {
  background-color: black;
}
h1, h2 {
  display: flex;
  justify-content: left;
  color: gold;
}
.searchBar {
  display: flex;
  justify-content: center;
}

#searchInput {
  width: 300px; /* Largeur recommandée en pixels plutôt qu'en cm */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px; /* Coins arrondis */
  font-size: 16px;
  outline: none; /* Supprime le contour par défaut lors du focus */
  transition: all 0.3s ease; /* Animation douce */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Léger effet d'ombre */
}

#search-Btn {
  background-color: #a50606;
  width: 100px;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-Input:hover {
  background-color: #520303; /* Légèrement plus foncé au survol */
}
#searchResult ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 90px;
    list-style-type: none;
    padding: 100px;
    color: white;
    
  }
  ul :hover {
    transform: scale(1.4); /* Zoom*/
    z-index: 10;
    position: relative;
}
  
  #searchResult li {
    border: 1px solid gold;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  
  #searchResult img {
    max-width: 150px;
    height: auto;
    margin: 10px 0;
  }

  #sortOrder {
    width: 90px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    border: 5px solid black;
    color: black;;
    transition: all 0.3s ease
  }

  #houseSorting{
    width: 200px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    border: 5px solid black;
    color: black;;
    transition: all 0.3s ease
  }