* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}


body {
  background-color: #070F2B;
  color: #9290C3;
}

/* #baguette-magique {
  height: 250px;
}

#bougie {
  height: 150px;
}

#livre {
  height: 150px;
} */
