@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@font-face {
  font-family: "HARRYP";
  src: url("./police/HARRYP__.TTF") format("ttf"),
    url("police/HARRYP__.TTF") format("truetype");
  font-weight: normal; /* ou bold, etc. */
  font-style: normal; /* ou italic, etc. */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  max-width: 100vw;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Ajuste à la taille de la fenêtre */
  overflow: hidden;
  overflow: auto;
  padding: 1vh 1vw;
  gap: 20px;
  cursor: url("./images/baguette-magique.png"), pointer;
}

body.borel-regular {
  color: #ececec;
}

header {
  display: flex;
  justify-content: space-between; /* Distribue les éléments */
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

header,
h1 {
  margin: 0;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow: auto;
}

h1 {
  color: #ececec !important;
  font-family: "HARRYP";
  font-size: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
}

p {
  display: none;
}

.horloge {
  background-color: #1c1c1c;
  color: silver;
  font-size: 100px;
}

#background-inondation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Assurez-vous qu'il occupe toute la largeur de la fenêtre */
  height: 100vh;
  background-color: rgb(106, 230, 244);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 3s ease-in-out;
  z-index: 5;
}

#background-inondation.inondation {
  transform: scaleY(1);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(81, 203, 238, 0.5);
  animation: wave 5s infinite alternate;
}

@keyframes wave {
  0% {
    transform: scaleX(0.9);
    opacity: 0.6;
  }
  100% {
    transform: scaleX(1.1);
    opacity: 0.8;
  }
}

.explosion {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  translate: (-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(255, 165, 0, 1) 0%,
    rgba(255, 69, 0, 1) 50%,
    rgba(139, 0, 0, 0.5) 100%
  );
  border-radius: 50%;
  transform: scale(0);
  animation: explode 0.7s ease-out;
  z-index: 10;
}

@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}

/* Variables pour l'animation du feu */
:root {
  --fire-color: rgb(255, 80, 0);
  --fire-color-t: rgba(255, 80, 0, 0);
  --dur: 1s;
  --blur: 0.02em;
  --fire-rad: 2em;
  --parts: 50;
  --part-size: 5em;
}

#fire {
  font-size: 60px;
  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));
  margin: 3em auto 0 auto;
  position: relative;
  width: 5vw;
  background: none;
  z-index: 9999;
}

.particule {
  animation: rise var(--dur) ease-in infinite;
  background-image: radial-gradient(
    var(--fire-color) 20%,
    var(--fire-color-t) 70%
  );
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: var(--part-size);
  height: var(--part-size);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
  html {
    max-width: 100vw;
  }
}

.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.bougie {
  height: 150px;
}

.bougie-dupplique {
  height: 150px;
}

#container {
  height: 16vh;
  overflow: hidden; /* Empêche les débordements */
  padding: 10px;
}

#boutons-sorts {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 colonnes de largeur égale */
  grid-template-rows: repeat(4, auto);
  gap: 6vh; /* Espacement entre les éléments */
  width: 100%;
  justify-items: center; /* Centre horizontalement les éléments */
  align-items: center; /* Centre verticalement les éléments */
}

button {
  width: 12vw; /* Les boutons s'ajustent à la cellule */
  background-color: #282f44;
  color: #ececec;
  border: 1px solid #e6af2e;
  border-radius: 15px;
  font-family: "HARRYP";
  font-size: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #353e5a;
}

img {
  height: 150px; /* Taille maximale des images */
}

#logo-harry-potter {
  height: 50px;
}

/* Ajustez les positions des éléments */
#Reducio {
  grid-column: 1;
  grid-row: 1;
}

#chaudron {
  grid-column: 2;
  grid-row: 1;
  transition: transform 0.7s ease;
}

#Incendio {
  grid-column: 3;
  grid-row: 1;
}

#livre {
  grid-column: 4;
  grid-row: 1;
}

#Engorgio {
  grid-column: 5;
  grid-row: 1;
}

#Lumos {
  grid-column: 2;
  grid-row: 2;
}

#lumos-sort {
  grid-column: 2;
  grid-row: 2;
}

#Bombardo {
  grid-column: 4;
  grid-row: 2;
}

#Aparecium {
  grid-column: 1;
  grid-row: 3;
  transition: 0.5s ease;
}
#Aguamenti {
  grid-column: 3;
  grid-row: 3;
}

#Geminio {
  grid-column: 5;
  grid-row: 3;
}

#Finite-incantatem {
  grid-column: 1;
  grid-row: 4;
}

#bougie {
  grid-column: 3;
  grid-row: 4;
  position: relative; /* Pour garder la position correcte */
}

#Evanesco {
  grid-column: 5;
  grid-row: 4;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  max-height: 50px;
}

#logo-harry-potter {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: left;
}

#horloge {
  color: #ececec;
  font-family: "borel";
  font-size: 30px;
  display: flex;
  justify-content: left;
}

.bougie {
  height: 150px;
}

.cauldron {
  transform: scale(1.5);
}

.book {
  transform: scale(0.6);
}

/* Conteneur positionné */
#lumos-container {
  width: 150px;
  height: 150px;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  grid-column: 3; /* Assurez-vous que cela correspond à la colonne de la bougie */
  grid-row: 4; /* Assurez-vous que cela correspond à la ligne de la bougie */
  z-index: 10; /* Assurez-vous qu'il est au-dessus de la bougie */
}

#lumos-container.light-active {
  display: flex; /* Afficher lorsque 'light-active' est enlevé */
}

/* Lumière magique */
#lumos-sort {
  width: 50px; /* Taille de la lumière */
  height: 50px;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgb(229, 230, 180) 0%,
    rgb(204, 191, 120) 30%,
    rgb(248, 248, 210) 70%
  );
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(185, 185, 85, 0.8),
    0 0 60px 30px rgba(255, 255, 204, 0.6);
  animation: lumos-flicker 2s infinite; /* Effet de scintillement */
}

/* Animation scintillante */
@keyframes lumos-flicker {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px 10px rgba(255, 255, 204, 0.8),
      0 0 60px 30px rgb(243, 199, 2);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 30px 15px rgba(255, 255, 204, 1),
      0 0 80px 40px rgba(255, 255, 204, 0.8);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 20px 10px rgba(255, 255, 204, 0.8),
      0 0 60px 30px rgba(255, 255, 204, 0.6);
    opacity: 1;
  }
}

.buttons {
  display: none;
}

p {
  font-family: "borel", cursive;
  font-size: 14px;
  color: #ececec;
  display: none;
  transition: 0.5s ease;
}

.sort-container {
  display: flex;
  flex-direction: column; /* Assure un alignement vertical */
  align-items: center; /* Centre horizontalement le contenu */
  gap: 10px; /* Espacement entre le bouton et le paragraphe */
  color: #ececec; /* Couleur pour s'harmoniser avec le design */
  font-size: 15px; /* Taille ajustable selon le besoin */
  font-family: "Borel", cursive;
  text-align: center;
}

p.message {
  opacity: 0; /* Par défaut invisible */
  display: block; /* Toujours réserver l'espace */
  height: 1em; /* Ajustez la hauteur selon vos besoins */
  transition: opacity 0.5s ease; /* Transition pour l'effet de glissement */
}

p.message-active {
  opacity: 1; /* Visible lorsqu'ajouté */
}

#btn-suivant {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
